html, body {
    height: 100%;
}

h1, h3 {
    font-family: 'Carrois Gothic SC', sans-serif;
}

p {
    font-size: 22px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

/* .img {
    height: 300px;
    object-fit: scale-down;
} */

/* Hello container */
.bg-1 {
    background-color: #675682;
    color: whitesmoke;
    padding-top: 200px;
    padding-bottom: 200px;
    /* opacity: 0.6; */
}

/* Portfolio container */
.bg-2 {
    background-color: whitesmoke;
    color: #e52a6f;
    padding-top: 100px;
    padding-bottom: 100px;
    /* opacity: 0.6; */
}

/* About me container */
.bg-3 {
    background-color: #5f0f4e;
    color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;;
    /* opacity: 0.6; */
}


/* Logo styles */
  .navbar-brand {
    font-family: 'Carrois Gothic SC', sans-serif;
      font-size: 28px;
   
  }

  /* Nav bar styles */
  .navbar {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
    background-color:  #67aeca;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
   
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: whitesmoke !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: whitesmoke !important;
    background-color: #e52a6f !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #e52a6f !important;
  }



  /* Portfolio styles */
  .pst-content {
    padding-left: 10px;
  }
  
  .project-menu {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .project-menu li {
    display: inline-block;
  }
  
  .project-menu li a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #444;
    border-radius: 20px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 4px;
    padding: 6px 15px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
  }
  
  .project-menu li a.active, .project-menu li a:hover {
    border-color: #3EC1D5;
    background: #3EC1D5;
    color: #fff;
    text-decoration: none;
  }
  
  .single-awesome-portfolio {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 25%;
    position: relative;
  }
  
  .single-awesome-project {
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .first-item {
    margin-bottom: 30px;
  }
  
  .awesome-img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .awesome-img>a {
    display: block;
    position: relative;
  }
  
  .single-awesome-project:hover .awesome-img>a::after {
    opacity: 1;
  }
  
  .single-awesome-project:hover .add-actions {
    opacity: 1;
    bottom: 0;
  }
  
  .awesome-img>a::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
  }
  
  .add-actions {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 30px;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px 15px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
  }
  
  .project-dec {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .project-dec a {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .project-dec h4 {
    margin-bottom: 5px;
  }
  
  .project-dec h4:hover {
    color: #fff;
  }
  
  .project-dec h4 {
    color: #ddd;
    font-size: 24px;
    margin-top: -45px;
    padding-top: 50%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .project-dec span {
    color: #ddd;
    font-size: 13px;
  }
  
  .project-action-btn {
    display: block;
    height: 100%;
    text-align: center;
    transition: all 1s ease 0s;
    width: 100%;
  }
  
  .project-action-btn li {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .project-action-btn li a {
    display: block;
    height: 100%;
    width: 100%;
  }


  /* About me styles */

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #67aeca;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: left;
  padding: 20px;
}

#about .about-descr .separator {
  max-width: 90%;
  margin-bottom: 0;
  font-size: 18px;
  text-align: left;
  padding: 20px;
}